.filter-button{
    margin: 5px;
}

.filter-button-list{
    margin: 0 auto;
}

.title-col{
    text-align: center;
}

.input-line{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    
    .input-form{
        width: 80%;
        max-width: 750px;
    }
    .input-button{
        margin-left: 5px;
    }
}

body{
    background-color: #eee;
}

header{
    margin-bottom: 20px;
}

ul,li{
    list-style: none;
}

.todo-card{
    margin: 0 auto;
    max-width: 800px;
    width:98%;
    h3{
        display: inline-block;
        margin: 0 5px;
        padding: 0;
    }
    .check-button,{
        float: left;
    }
    .delete-button{
        float: right;
    }
    .detail-button{
        float: right;
        margin-right: 5px;
    }
    

}
.detail-modal{
        max-width: 800px;
    }
.input-date-box{
            text-align: right;
            span:first-child{
                margin-right: 10px;
            }
        }



#main-app{
    text-align: center;
}

.userDiog-input{
    margin: 5px;
}

.input-switch{
    text-align: right;
    margin: 5px 0;
     color: #108ee9;
    cursor: default;
}